<div class="card">
  <div class="card-body">
    <h5 class="card-title">Order Summary</h5>
    <p class="card-text">
      You have {{ shoppingCartItemCount }} items in your shopping cart.
    </p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let productId of productIds" class="list-group-item">
        {{ shoppingCart[productId].quantity }} x
        {{ shoppingCart[productId].product.title }}
        <div class="float-right">
          {{
            shoppingCart[productId].quantity *
              shoppingCart[productId].product.price | currency
          }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Total
        <div class="float-right">
          {{ totalPrice() | currency }}
        </div>
      </li>
    </ul>
  </div>
</div>
